
#body-div {
  background-image: url("../assets/images/individual-fish-image-resized.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: black;
  background-size: 100%;
}

#h1 {
  color: black;
  font-size: 100%;
}

#img.source-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#loginDiv {
  display: block;
}

#registerDiv {
  display: none;
}

#dashboard {
  display: none;
}

#propertiesDiv {
  display: none;
}

#propertyFormDiv {
  display: none;
}

#activityFormDiv {
  display: none;
}

#participantFormDiv {
  display: none;
}

#showParticipantUpdate {
  display: none;
}

#showParticipants {
  display: none;
}

#showBoats {
  display: none;
}

#showTeams {
  display: none;
}

#showBoatAdd {
  display: none;
}

#showBoatUpdate {
  display: none;
}

#showTeamAdd {
  display: none;
}

#showTeamUpdate {
  display: none;
}

#updateAcivityDiv {
  display: none;
}

#putActivitiesList {
  display: none;
}

#searchDiv {
  display: none;
}

#result {
  height: 60ex;
  width: 90%;
  margin: 0 auto;
}

.status {
  max-height: 20px;
  max-width: 20px;
  padding: 5px;
  margin: 0 auto;
}

.login {

}

.register {
  display: none;
}

.formactions {
  display: none;
}

.properties {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.listActivities {
  display: none;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.listOneActivity {
  display: none;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.getact {
  display: none;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#updateActivity {
  display: block;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.deleteActivity {
  display: none;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.listProperties {
  display: none;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.listOneProperty {
  display: none;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.addProperty {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.addActivity {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.deleteProperty {
  display: none;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.bs-example {
      margin: 20px;
}
